{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Recibiste este correo por que requeriste cambiar tu contraseña de la Plataforma EDX Chapingo.{% endblocktrans %}

{% trans "Porfavor ve al siguiente link y escoge una nueva contraseña:" %}
{% block reset_link %}
https://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Si no requeriste el cambio, puedes descartar este correo - Aún no hemos reseteado tu contraseña.

{% trans "Gracias por usar nuestro sitio!" %}

{% blocktrans %}edx@uabjo.mx{% endblocktrans %}

{% endautoescape %}
