{% extends "main_django.html" %}
{% load staticfiles %}
{% block title %}<title>Cambia tu {{ PLATFORM_NAME }} Contraseña</title>{% endblock %}
{% block main_vendor_js %}{% endblock %}
{% block headextra %}
  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <script type="text/javascript">
    $(function() {

      var view_name = 'view-passwordreset';

      // adding js class for styling with accessibility in mind
      $('body').addClass('js').addClass(view_name);

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>
{% endblock %}

{% block bodyclass %}view-passwordreset{% endblock %}

{% block body %}
  <section class="passwordreset container">
    <section class="introduction">
      <header>
        <h1>Reset Your {{ PLATFORM_NAME }} Password</h1>
      </header>
    </section>

    <section role="main" class="content">
      {% if validlink %}
      <header>
        <h2 class="sr">Password Reset Form</h2>
      </header>

      <form role="form" id="passwordreset-form" method="post" data-remote="true" action="">{% csrf_token %}
        <!-- status messages -->
        <div role="alert" class="status message">
          <h3 class="message-title">Lo sentimos, {{ PLATFORM_NAME }} no esta disponible en tu región.</h3>
          <p class="message-copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>

        <div role="alert" class="status message submission-error">
          <h3 class="message-title">Los siguientes errores ocurrieron mientras procesabamos tu registro : </h3>
          <ul class="message-copy">
            <li>Debes de completar todos los campos.</li>
            <li>Los campos de la contraseña no son iguales.</li>
          </ul>
        </div>

        <div role="alert" class="status message system-error">
          <h3 class="message-title">Una Disculpa, nuestro sistema tiene dificultad al procesar tu cambio de contraseña</h3>
          <p class="message-copy">Ya le avisamos al encargado. Intentalo en un rato más. Por favor <a href="{{MKTG_URL_CONTACT}}">Escríbenos</a> nos preocupan tus preguntas.</p>
        </div>

        <p class="instructions">
          Por favor escribe tu contraseña dos veces para que podamos verificar tu escritura. <br />
          Los campos requeridos se encuentran en <strong class="indicator">negritas y con un asterisco (*)</strong>.
        </p>

        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="sr">Información Necesaria</legend>

          <ol class="list-input">
            <li class="field required password" id="field-new_password1">
              <label for="new_password1">Tu nueva contraseña</label>
              <input id="new_password1" type="password" name="new_password1" placeholder="*****" />
            </li>
            <li class="field required password" id="field-new_password2">
              <label for="new_password2">Escribe tu nueva contraseña de nuevo.</label>
              <input id="new_password2" type="password" name="new_password2" placeholder="*****" />
            </li>
          </ol>
        </fieldset>

        <div class="form-actions">
          <button name="submit" type="submit" id="submit" class="action action-primary action-update">Cambiar mi Contraseña</button>
        </div>
      </form>

      {% else %}

      <header>
        <h2 class="sr">El cambio de tu contraseña ha sido exítoso.</h2>
      </header>
      <p>El link para cambiar tu contraseña es incorrecto, probablemente el link este en uso.  Por favor regresa a la <a href="/login">pagina de identificación</a> y empieza el cambio de tu contraseña de nuevo.</p>

      {% endif %}
    </section>

    <aside role="complementary">
      <header>
        <h3 class="sr">Cambio de contraseña -  Ayuda</h3>
      </header>

      <div class="cta cta-help">
        <h3>Need Help?</h3>
        <p>View our <a href="{{MKTG_URL_FAQ}}">help section for contact information and answers to commonly asked questions</a></p>
      </div>
    </aside>
  </section>
{% endblock %}
